.img{
    width:100% ;
    height: 440;
    padding:10px;
    border: 2px solid ;
    border-radius: 36;
}




@media (max-width: 480px) {
    .img{
        width:100% ;
        height: 240;
        padding:10px;
margin-right: 15;
        border: 2px solid ;
        border-radius: 36;
      
    }


}
.images{
    display: flex;
}